header img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

header h1, p{
    text-align: center;
}

.heading{
    text-align: center;
    margin: 20px 0px;
}

.nav-items-link{
    display: flex;
    justify-content: space-between;
}


.card img{
    width: 250px;
    
}